@charset "UTF-8";

@font-face{ font-family:'Grafiti';
    src:url(GraffitiYouth-Regular.otf)format(opentype), url(GraffitiYouth-Regular.otf)format(opentype);
    font-weight: normal;
    font-style: normal;
}
    
@font-face{
        font-family:'Bebas';
        src:url(Bebas-Regular.otf)format(opentype), url(Bebas-Regular.otf)format(opentype);
        font-weight: normal;
        font-style: normal;
}
h1{
    font-family:'Grafiti';
    font-size: 120px;
    text-align: center;
    margin: 10px;

    
}

#linha-horizontal {
    width: 1300px;
    border: 1px solid #000;
}
p{
    font-family:'Bebas';
    text-align: center;
}
body{
    margin: 2px;
}